html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color : #12161d;
  color: #fff;
}
.e-bigger {
    font-size: x-large;
}

/*Radio Button Group*/
.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

/*SideBar*/
#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    overflow: hidden;
}

    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }

#sidebar-toggler {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: #48545f14;
        transform: scale(1.05) translateZ(0px);
    }

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }


    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon, #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles, #sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: '\f100'
}

#sidebar.e-close #sidebar-toggler:before {
    content: '\f101'
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

    .widget.summary > div:first-child {
        background-color: #222b33;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.income > div:first-child {
        color: #65da41;
    }

    .widget.expense > div:first-child {
        color: #ff4e48;
    }

    .widget.balance > div:first-child {
        color: #2aa1ff;
    }

    .widget.chart {
        padding: 5px;
    }